body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

header {
  text-align: center;
  color: white;
  background-color: rgb(0, 104, 35);
  margin: 0px;
}

.hidden {
  display: none;
}

div p {
  padding-left: 30px;
  padding-right: 30px;
}

div img {
  max-height: 200px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-height: 150px;
}

ul {
  list-style: none;
  font-display: center;
  display: flex column;
}
