body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
}

header {
  text-align: center;
  background-color: rgb(172, 172, 172);
  margin: 0px;
}

.hidden {
  display: none;
}
